services:
  db:
    image: postgres:15-alpine
    container_name: bugshelv_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"  
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: