@(bookForm: play.api.data.Form[String])(implicit request: play.api.mvc.RequestHeader, messages: play.api.i18n.Messages)

@import controllers.routes
@import helper._

@main("Dodaj książkę") {
<div class="position-absolute top-0 start-0 m-4">
    <a href="@routes.HomeController.index()" class="text-decoration-none text-dark d-flex align-items-center">
        <img src="@routes.Assets.versioned("images/left-svgrepo-com.png")"
        alt="Arrow Icon"
        style="height: 40px; width: auto;"
        class="me-1">
        <img src="@routes.Assets.versioned("images/bookworm.png")" 
             alt="Bugshelv Icon" 
             style="height: 40px; width: auto;" 
             class="me-2">
        <span class="h3 mb-0 fw-bold">Bugshelv</span>
    </a>
</div>


<div class="container py-5">
    <div class="text-center mb-5">
        <h1 class="display-3">Dodaj nową książkę</h1>
        <p class="text-muted">Wprowadź dane poniżej, aby powiększyć swoją kolekcję.</p>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            @helper.form(action = routes.HomeController.addBookSubmit()) {
                @CSRF.formField

                @* === Global errors === *@
                @for(error <- bookForm.globalErrors) {
                    <div class="alert alert-danger">@error.message</div>

                    @bookForm.data.get("isbn").map { isbn =>
                        @if(error.message == "Nie znaleziono książki dla tego ISBN") {
                            <a href="@routes.HomeController.createBook(isbn)"
                               class="btn btn-warning btn-sm mt-2">
                                Dodaj książkę ręcznie
                            </a>
                        }
                    }
                }

                @* === Field errors === *@
                @for(error <- bookForm("isbn").errors) {
                    <div class="alert alert-danger">@error.message</div>
                }

                <div class="mb-3">
                    @helper.inputText(
                        bookForm("isbn"),
                        Symbol("_label") -> "ISBN",
                        Symbol("class") -> "form-control",
                        Symbol("placeholder") -> "Wpisz numer ISBN",
                        Symbol("_showConstraints") -> false
                    )
                    <small class="form-text text-muted">
                        Numer ISBN znajduje się na odwrocie okładki
                    </small>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <button type="submit" class="btn btn-primary btn-light">
                            Dodaj książkę
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
}
