@(bookForm: play.api.data.Form[String])(implicit request: play.api.mvc.RequestHeader, messages: play.api.i18n.Messages)

@import controllers.routes
@import helper._

@main("Dodaj książkę") {

<div class="container mt-4">
    <div class="text-center mb-5">
        <h1 class="display-3">Dodaj nową książkę</h1>
        <br>
        <a href="@routes.HomeController.index()" class="btn btn-light btn-lg">Wróć do listy</a>
    </div>

    @helper.form(action = routes.HomeController.addBookSubmit()) {
        @CSRF.formField

        @* Display form errors *@
        @bookForm.globalErrors.map { error =>
            <div class="alert alert-danger">@error.message</div>
        }

        <div class="mb-3">
            @helper.inputText(bookForm("isbn"), '_label -> "ISBN", 'class -> "form-control")
            <small id="ISBNhelp" class="form-text text-muted">Numer ISBN znajduje się na odwrocie okładki</small>
        </div>
    <!--    <div class="mb-3">-->
    <!--        @helper.inputText(bookForm("title"), '_label -> "Tytuł", 'class -> "form-control")-->
    <!--    </div>-->
    <!--    <div class="mb-3">-->
    <!--        @helper.inputText(bookForm("author"), '_label -> "Autor", 'class -> "form-control")-->
    <!--    </div>-->

        <button type="submit" class="btn btn-primary btn-light">Dodaj książkę</button>
    }

</div>
}