@(loginForm: play.api.data.Form[forms.LoginData])(implicit request: play.api.mvc.RequestHeader, messages: play.api.i18n.Messages)

@import helper._

@main("Login") {
<div class="position-absolute top-0 start-0 m-4">
    <a href="@routes.HomeController.index()" class="text-decoration-none text-dark d-flex align-items-center">
        <img src="@routes.Assets.versioned("images/left-svgrepo-com.png")"
        alt="Arrow Icon"
        style="height: 40px; width: auto;"
        class="me-1">
        <img src="@routes.Assets.versioned("images/bookworm.png")" 
             alt="Bugshelv Icon" 
             style="height: 40px; width: auto;" 
             class="me-2">
        <span class="h3 mb-0 fw-bold">Bugshelv</span>
    </a>
</div>

    <div class="text-center mb-5">
        <br>
        <h1 class="display-3">Login</h1>
        <br>
        <a href="@routes.AuthController.registerPage()" class="btn btn-light btn-secondary">
            Nie masz konta? Zarejestruj się.
        </a>
    </div>
        <div class="row justify-content-center"> <div class="col-md-4">

    @helper.form(action = routes.AuthController.loginSubmit()) {
        @CSRF.formField

        <div class = "mb-3">
        @helper.inputText(
            loginForm("username"),
            Symbol("_label") -> "Nazwa użytkownika",
            Symbol("class") -> "form-control",
            Symbol("placeholder") -> "Wpisz nazwę użytkownika",
            Symbol("_showConstraints") -> false)
        @helper.inputPassword(
            loginForm("password"),
            Symbol("_label") -> "Hasło",
            Symbol("class") -> "form-control",
            Symbol("placeholder") -> "Hasło",
            Symbol("_showConstraints") -> false)
</div></div></div>
        <div class="text-center mb-5">
        <button type="submit" class="btn btn-lg btn-light">Login</button>

        @loginForm.globalError.map { error =>
            <p style="color:red;">@error.message</p>
        }
    }
}
</div> 